
<app-pre-login-header></app-pre-login-header>
<div class="bg-dark text-white text-center about">
    <br>
    <br>
    <h1 class="title">𝕎𝕠𝕣𝕜ℂ𝕙𝕒𝕥</h1>
    <br>
    <br>
    <div class="desc">
        WorkCaht Chat is a communications portal to your entire organization.<br>
        It doesn't just get people talking, 
        it's a rich and familiar space for<br> teams to share ideas, 
        make quick decisions and get work done.
    </div>
    <br><br>
    <div class="form-group">
        <button class="btn btn-outline-dark btn-lg bg-light mr-1" (click)="join()">Join Now</button>
        <button class="btn btn-outline-dark btn-lg bg-light" (click)="login()">Log In</button>
    </div>
</div>
