.container{
    padding: 2% ;
    margin-top: 3% ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    width: 40vw;
}

 
 .welcome{
    text-align: center;
    } 

    label{
        color:#005abb ; 
        font-family: italic;
        font-weight: bold;
    }
