.dash{
    display: flex ;
    flex-direction: row;
    background-color: white;



}
.header{
    background-color: slategray ;
}
.nav-link{
    cursor: pointer;

}
.user-name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
span{
    color:white;
}
header{
    border-bottom: 2px solid black;
    position: relative;
    z-index: 2;
    width: 100%;
}

.blur{
    background: #ffd83c;
    filter: blur(3px);
}
.spinner-border{
    position: relative;
    left: 50%;
}
ul{
    display: flex;
    flex-direction: row;


}
.image-circle{
    width: 70px;
    height: 70px;
    border-radius: 50% ;
}
