.dash{
    display: flex ;
    flex-direction: row;
    background-color: white;
    margin-top: 7% ;
}

.nav-link{
    cursor: pointer;
}
.user-name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
span{
    color:white;
}
header{
    background-color: slategray ;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    width: 100% ;
    z-index: 2;
    height: 10% ;
}

.blur{
    background: #ffd83c;
    filter: blur(3px);
}
.spinner-border{
    position: relative;
    left: 50%;
}

ul{
    display: flex;
    flex-direction: row;
}
.image-circle{
    width: 70px;
    height: 70px;
    border-radius: 50% ;
}
/* .users-list{
    position: fixed ;
    
}

.messages-section{
    position: relative;
    left: 13% ;
} */
.messages-dash{
    position: relative;
    left: 15% ;
}
.users-list{
    margin-top: 0 ;
}