
.container{
    padding: 2% ;
    margin-top: 3% ;
    box-shadow: 5px 10px #888888;
    border: #888444 2px solid ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    width: 40vw;
    
}
.google-btn{
    background-color: rgb(219,68,55) ;
}

.facebook-btn{
    background-color: rgb(66,103,178)
}
.google-btn:hover, .facebook-btn:hover{
    color: white;
}