
<div *ngIf="friend">
   <div class="friend-details card">
   <h5 class="card-title">Friend Details</h5>
   <img 
      class="img" 
      src="{{friend.imageURL}}"
      onerror="this.src='/assets/defaultImageProfile.jpg'"  
      appFriendImgDesign
   >
  <label class="card-text" for="name"><b>Name:</b> {{friend.name | name}}</label>
  <label class="card-text" for="email"><b>Email:</b> {{friend.email}}</label>

</div>
 <div class="chat">
    <br>
    <app-chat-messages></app-chat-messages>

    <div>
       <app-chat-input></app-chat-input>  
    </div>
 </div>

</div>

 


  
